.direction {
  margin-top: 213px;
  position: relative;
  padding-bottom: 271px;
  padding-top: 55px;
  &::before {
    content: "";
    position: absolute;

    left: -76px;
    top: 403px;

    width: 20px;
    height: 20px;

    background-image: url(../images/svg-circle.svg);
  }
  &::after {
    content: "";
    position: absolute;

    left: 404px;
    top: 0px;

    width: 20px;
    height: 20px;

    background-image: url(../images/svg-plus.svg);
  }
  &__box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 446px;
    width: 266px;
    border-radius: 8px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__caption {
    position: relative;
    margin-bottom: 56px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.39;

    color: $title-text-color;
  }

  &__list {
    display: flex;
    position: relative;
    &::after {
      content: "";
      position: absolute;

      right: 366px;
      bottom: -55px;

      width: 20px;
      height: 20px;

      background-image: url(../images/svg-circle.svg);
    }
  }

  &__link {
    font-weight: 600;
    font-size: 17px;
    line-height: 3.53;

    color: $acent-color;
  }

  &__all {
    font-weight: 600;
    font-size: 15px;
    line-height: 1.87;
    color: $acent-color;
  }
  &__title {
    font-weight: bold;
    font-size: 19px;
    line-height: 1.58;

    margin-bottom: 13px;

    color: $title-text-color;
  }

  &__excerpt {
    font-weight: normal;
    font-size: 15px;
    line-height: 1.73;
    color: $main-text-color;

    margin-bottom: 23px;
  }
  &__box {
    position: relative;
    margin-right: 20px;
  }
  &__image {
    display: block;
    overflow: hidden;
    width: 261px;
    height: 330px;
    border-radius: 8px;
  }
}

.item__wrap {
  background-color: white;
  position: absolute;
  left: 0;
  top: 231px;
}
