/* ------------FOOTER----------- */

.footer__section {
    background-color: $background-color;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 77px;
}

.footer__start {
    margin-top: 74px;
    & .footer__logo {
    width: 44px;
    height: 44px;
    margin-bottom: 22px;
    }

    .footer__item {
        font-style: normal;
        font-size: 18px;
        line-height: 1.56;
        margin-bottom: 55px;
        color:$footer-text-color;
    }

    .footer__list {
        font-size: 17px;
        line-height: 1.65;
        color:$footer-text-color;
    }
}

.footer__center {
    margin-top: 66px;
    & .footer__item {
        position: relative;
        font-size: 19px;
        line-height: 3.16;
        color:$text-item-color;
    }
    .footer__list {
        font-size: 18px;
        line-height: 2.11;
        color:$footer-text-color;
    }
}



.footer__bottom {
    display: flex;
    justify-content: center;
    border-top: 0.6px solid;
    border-color: $line-bc-color;
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer__social {
    display: flex;
    & .footer__item:not(:last-child) {
    margin-right: 35px;
    }

    .footer__icon {
        width: 25px;
        height: 20px;
    }
}