.hero__wrap {
  position: relative;

  display: flex;

  &::after {
    content: "";
    position: absolute;

    bottom: -30px;
    left: 530px;

    width: 20px;
    height: 20px;

    background-image: url(../images/circle-min-bg.svg);
  }
}

.hero-content {
  width: 50%;
}

.hero-content__title {
  position: relative;

  margin-bottom: 74px;

  font-size: 64px;
  line-height: 1.25;

  &::before {
    content: "";
    position: absolute;

    right: 130px;
    top: 20px;

    width: 20px;
    height: 20px;

    background-image: url(../images/plus-bg.svg);
  }
}

.hero-content__text {
  position: relative;
  margin-bottom: 71px;

  font-weight: 600;
  font-size: 22px;
  line-height: 1.22;

  color: $title-text-color;

  &::before {
    content: "";

    position: absolute;
    bottom: -21px;

    width: 32px;
    height: 2px;
    background-color: $title-text-color;

    border-radius: 4px;
  }

  &::after {
    content: "";
    position: absolute;

    left: -85px;
    top: 60px;

    width: 26px;
    height: 26px;

    background-image: url(../images/circle-bg.svg);
  }
}

.hero-form {
  display: inline-flex;
  flex-wrap: wrap;
  width: calc((100% - 30px) / 1);
}

.hero-form__wrap:not(:nth-child(2n)) {
  margin-right: 30px;
}

.hero-form__wrap:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.label {
  position: relative;
}

.label__svg {
  position: absolute;
  display: inline-flex;

  right: 30px;
  bottom: 5px;

  width: 10px;
  height: 6px;

  fill: $second-text-color;
}

.hero-form__select {
  padding-left: 31px;

  min-width: 220px;
  min-height: 52px;

  font-size: 15px;
  line-height: 2.13;

  color: $second-text-color;

  border: 0.8px solid $select-color;
  border-radius: 6px;

  outline: none;
  cursor: pointer;

  appearance: none;

  transition: border-color 300ms $animation-cubic-bezier;

  &:hover,
  &:focus {
    border-color: $acent-color;
  }
}

.hero-form__btn {
  @include btn;

  margin-top: 47px;

  min-width: 180px;
  min-height: 60px;
}

.hero__img {
  position: absolute;
  right: -90px;
  top: -40px;
}
