.picture-section {
  position: relative;

  min-height: 510px;
  margin-top: 262px;
  padding-bottom: 61px;

  &::before {
    content: "";
    position: absolute;

    top: 310px;
    left: -100px;

    width: 20px;
    height: 20px;

    transform: rotate(7.49deg);
    background-image: url(../images/plus-bg.svg);
  }

  &::after {
    content: "";
    position: absolute;

    bottom: 0;
    left: 44.5%;

    width: 20px;
    height: 20px;

    background-image: url(../images/circle-min-bg.svg);
  }
}

.picture-top__title {
  font-family: Playfair Display;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3888;
}

.picture-top__link {
  font-weight: 600;
  font-size: 17px;
  line-height: 3.5294;

  margin-right: 22px;

  color: $acent-color;

  &::before {
    content: "";
    position: absolute;

    top: -30px;
    right: 178px;

    width: 20px;
    height: 20px;

    background-image: url(../images/circle-min-bg.svg);
  }

  &::after {
    content: "";
    position: absolute;

    top: 40%;
    left: 99.5%;

    width: 6px;
    height: 11px;

    background-image: url(../images/pic-link.svg);
  }
}

.picture-top__box {
  position: relative;
  display: flex;
  justify-content: space-between;

  margin-bottom: 56px;
}

.picture-bottom__list {
  display: flex;
  justify-content: space-between;
}

.picture-bottom__item {
  position: relative;
}

.picture-bottom__text {
  position: absolute;
  bottom: -1%;
  left: 0%;

  & h3 {
    font-weight: 600;
    font-size: 17px;
    line-height: 1.4705;
  }
}
