$main-text-color: #7d7987;
$nav-text-color: #b8becd;
$second-text-color: #4a4c53;
$title-text-color: #202336;
$btn-text-color: #ffffff;
$acent-color: #fb8f1d;
$select-color: #afb0b9;

$animation-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
